.container {
  display: flex;
  height: 100%;
}

.left {
  flex: 1;
  position: relative;
  .main-img {
    display: block;
    margin: 100px auto 50px;
    cursor: pointer;
  }
  .show-formula {
    width: 550px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    box-shadow: 3px 3px 3px 0px #ccc;
    border-radius: 10px;
    background: #f7f7f7;
    cursor: pointer;
  }
}

.right {
  background: #f7f7f7;
  width: 500px;
}

.choose-container {
  /* width: 500px; */
}

.all-choose {
  margin-bottom: 10px!important;
}

.group-container {
  margin-left: 15px;
}

.formula-list {

  margin: 10px 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.formula-item {
  border: 1px solid #ccc;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 10px
}

.selected {
  border: 1px solid #1890ff;
}

.open-container {
  // display: flex;
  // justify-content: space-around;
  margin-top: 50px;
}

.f2l-open {
  text-align: center;
  margin-bottom: 20px;
}

.formula-open-btn {
  width: 200px;
  height: 40px;
  border-radius: 7px;
}
.begin-practice {
  // width: 230px;
  // margin: 100px auto 0;
  margin: 50px 0 0 30px;
  font-size: 20px;
  >span {
    color: #f00;
    font-weight: bolder;
    padding: 0 4px;
  }

}
.use-description {
  font-size: 14px;
  color: #666;
}